@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*  
Adjustments here:
*/

.header {
  display: flex;
  justify-content:space-between;
  padding: 16px;
  padding-top: 3px
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #eeee;
  align-items: flex-end;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-links , .right-links{
  list-style: none;
}
.header > .left-links{
  text-align: right;
}

ul.left-links, ul.right-links{
  padding: 0px;
  margin: 10px;
}

li {
  display: inline;
  margin: 5px;
}

div.footer, div.header {
  padding: 0px;
}

.alignment{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
  color: black;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}